.put-in-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.uniform-padding {
  padding: 15px;
}
.btnmix {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  background-color: #22283A;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.top-of-page {
  background-color: #F1F1F1;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .top-of-page {
    width: 100%;
  }
}
.top-of-page .logo {
  margin: 10px;
  display: flex;
  justify-content: center;
  font-size: 35px;
}
.top-of-page nav {
  height: 100%;
  text-align: center;
}
@media (max-width: 500px) {
  .top-of-page nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
  }
}
.top-of-page nav a {
  font-weight: bolder;
  font-size: 20px;
  margin: 15px;
  text-decoration: none;
  color: #23293B;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .home {
    margin: auto;
    width: 100%;
  }
  .home .sky {
    display: none;
  }
  .home .planetPic {
    margin: auto;
    height: 87px;
  }
  .home .launch {
    display: none;
  }
  .home .blast {
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 500px) {
  .home .intro {
    padding: 15px;
  }
}
.home h2 {
  padding: 15px;
}
.home p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .home .space-images {
    padding: 25px;
  }
}
.home .blast {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .blast {
    width: 100%;
  }
}
.home .sky {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.home .launch {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.home .planetPic {
  width: 100%;
  margin: auto;
  border-radius: 20px;
  height: 100%;
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
  }
}
.home .walk .button {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  background-color: #22283A;
  height: 60px;
  width: 150px;
  font-size: 20px;
}
@media (max-width: 500px) {
  .home .walk .button {
    width: 100%;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    order: 2;
    margin: auto;
  }
}
@media (max-width: 500px) and (max-width: 500px) {
  .home .walk .walk-img {
    width: 100%;
  }
}
.home .walk img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.home .button:hover {
  background-color: white;
  color: grey;
}

/* /*  */
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.stars {
  background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}
.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}
.clouds {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  -moz-animation: move-background 175s linear infinite; 
  -ms-animation: move-background 175s linear infinite;
  -o-animation: move-background 175s linear infinite;
  -webkit-animation: move-background 175s linear infinite;
  animation: move-background 150s linear infinite;
}

.moon {
  height: 70vh;
  width: 70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
} 
