// Home Content
body {
  @media @mobile {
    width: 100%;
    margin: 5%;
      }
  }

.home {
  
.planetPic {
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
  @media @mobile {
  width: 100%;
  margin: 5%;
      }
    }
    h2 {
      .uniform-padding;
    }

    p {
      padding:0 15px;
    }
  
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
    }
  }

  .visit-planets {
    .uniform-padding;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    
    .button {
     border:2px solid black !important; 
      // width: 83%;
      // height: 43px;
      // background: #17A2B8;
      // color: #FFFFFF;
      // border-radius: 15px;
      // font-size: 1.8rem;
      // text-align: center;
      // padding: 14px;
    }

    .walk-text {
      width: 50%;

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

    .walk-img {
      width: 46%;
      margin-left: 4%;
      
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
// home

